/.idea/.idea.Roth_UI.dir/.idea/.gitignore
/.idea/.idea.Roth_UI.dir/.idea/discord.xml
/.idea/.idea.Roth_UI.dir/.idea/encodings.xml
/.idea/.idea.Roth_UI.dir/.idea/indexLayout.xml
/Roth_UI.zip
/.idea/.idea.Roth_UI.dir/.idea/vcs.xml
